body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #333;
}

.testcontainer {
  background-color: rgb(104, 94, 94);
  color: #ddd;
  border-radius: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.testcontainer > p {
  font-size: 32px;
}

/* .container {
  background-color: rgb(5, 5, 5);
  color: #ddd;
  border-radius: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  max-width: 700px;
}

.container > p {
  font-size: 32px;
} */

#scoreboard {
  display: none;
  /* text-align: center; */
  margin-left: 43%;
  margin-right: -23%;
  font-size: 20px;
  font-weight: bolder;
}

#finish {
  display: none;
  text-align: center;
  /* font-size: xxx-large; */
  font-weight: bolder;
  margin-top: 25%;
}
#check_register {
  color: #50ca50;
  width: 6%;
  height: 10%;
  background-color: #d1e7dd;
  border-radius: 69%;
  margin-bottom: 14px;
}

#login_link {
  color: #a79d9d;
}
.question {
  width: 75%;
}

.options {
  position: relative;
  padding-left: 40px;
}

#options label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
}

.options input {
  opacity: 0;
}
#registerheader {
  margin-left: 1565px;
  font-weight: bolder;
}
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #555;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
  display: block;
}

.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark {
  background: #21bf73;
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

.btn-primary {
  background-color: #555;
  color: #ddd;
  border: 1px solid #ddd;
  margin: 5px;
}

.btn-primary:hover {
  background-color: #21bf73;
  border: 1px solid #21bf73;
  margin: 5px;
}

.btn-success {
  padding: 5px 25px;
  background-color: #21bf73;
  margin: 5px;
}
#check {
  color: green;
  width: 6%;
  height: 10%;
  /* background-color: #555; */
  border-radius: 69%;
}
#incorrect {
  color: rgb(206, 37, 51);
  width: 3%;
  height: auto;
  /* background-color: #555; */
  border-radius: 69%;
}
@media (max-width: 576px) {
  .question {
    width: 100%;
    word-spacing: 2px;
  }
}
